<div class="container-fluid" style="background-color: whitesmoke;">
  <div class="container">
    <div class="row py-3">
      <div class="col-md-4 pt-3 text-center text-md-start">
        <img src="img/mainLogo.png" height="65px" alt="" srcset="" class="ms-3 my-3">
        <p class="px-2 px-md-5">
          Motoworks Automobiles Company
        </p>
        <ul id="socailIcon">
          <li>
            <a href="https://www.facebook.com/GWgaadiweb/" 
            target="_blank" style="background-color: #3c5a99;">
              <i class="fa-brands fa-facebook-f mx-1"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/gwgaadiweb/" target="_blank" style="background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);">
              <i class="fa-brands fa-instagram" style="margin: 0 2px;"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/gwgaadiweb" target="_blank" style="background-color: #00a2e8;">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/results?search_query=gaadiweb" target="_blank" style="background-color: #e52e2e;">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-3 d-none d-md-block ps-4">
        <h5 class="pt-5"> Useful Link </h5>
        <div class="py-2">
          <a href="" class="a_black mb-2"> Home </a>
        </div>
        <div class="py-2">
          <a href="/#searchParts" class="a_black mb-2"> Search Parts </a>
        </div> 
        <div class="py-2">
          <a href="/purchaseWithUs" class="a_black mb-2"> Purchase From Us </a>
        </div>
        <div class="py-2">
          <a href="/sellWithUs" class="a_black mb-2"> Sell With Us </a>
        </div>
        
      </div>
      <div class="col-md-5 ps-md-4 text-center text-md-start">
        <h5 class="pt-2 pt-md-5 pb-3"> Contact Info </h5>
        <p> <i class="fa-solid fa-location-dot me-3"></i> Lothian Road, Kashmeri Gate, Delhi, 110006 </p>
        <p> <i class="fa-solid fa-phone me-3"></i> 8860697170 </p>
        <p> <i class="fa-solid fa-calendar-days me-3"></i> Monday-Sunday </p>
        <p> <i class="fa-solid fa-clock me-3"></i>  Timing 09 to 19:00 </p>
        <a href="https://wa.me/918860697170" id="waImg">
          <img src="img/wa.png" alt="" style="width: 50px;">
        </a>
      </div>
    </div>
  </div>
</div>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<!-- <script src="js/jquery.min.js"></script> -->
<script src="js/toastr.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/counterup.min.js"></script>


</body>
</html>